{% extends "base.html" %}

{% block content %}
        <h1>Add a Blog Entry</h1>
        <form methods= 'post'>
            <table>
                <tr>
                    <td><label for="name">Title for your new blog:</label></td>
                </tr>
                <tr>
                    <td><input type="text" name="name" value='{{name}}' /></td>
                    <td><span class="error">{{name_error}}</span></td>
                </tr>
                <tr>
                    <td><label for="body">Your new blog:</label></td>
                </tr>
                <tr>
                    <td><textarea name="body" value='{{body}}'></textarea></td>
                    <td><span class="error">{{body_error}}</span></td>
                </tr>
            </table>
            <input type="submit" value='Add Entry' />
        </form>
{% endblock %}